
img{
    width: 250px;
    height: 200px;    
}
.container{
    max-width: 1300px;
    margin: 40px auto 0 auto;
    padding: 10px 10px;
    /* display: flex; */
    }

.dog{
    flex: 1
}

@media (min-width:900px){
    .container{
        display:flex;
    }
}