
img{
    width: 370px;
    height: 370px;    
}
/* .title{
    padding: 10px;
} */
.title{
    background-color: blue;
    color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    }

.dog{
    padding: 5px;
    flex: 1 30%;

}
.aboutDog{
    display: flex;
    flex-wrap:  wrap;
}
.dogImage{
    max-width: 100%;
}
@media (min-width:450px){
    .container{
        display:flex;
    }
}